service cloud.firestore {
  match /databases/{database}/documents {
    match /post/{postId} {
      allow read, write,delete: if request.auth.uid !=null;
    }
  }
}